@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.btn{
    border: 2px solid white;
    background-color: white;
    color: blue;
    font-weight: bold;
    cursor: pointer;
    transition: all 300ms;
}

.btn:hover{
    opacity: 0.8;
}

/* header style */
header{
    color: blue;
}

header h1{
    font-size: 3em;
}

/* main content style */
section{
    border: 2px solid blue;
    background-color: blue;
    margin: auto;
    width: 700px;
    border-radius: 10px;
    padding: 30px;
}

section p{
    color: white;
}

section .subjects-list label{
    color: white;
}

section .question-area{
    border: 2px solid white;
    background-color: white;
    border-radius: 10px;
    padding: 80px;
    text-align: center;
    color: blue;
    font-weight: bold;
    font-size: 3em;
}

section .game-area input{
    width: 600px;
    color: blue;
    font-weight: bold;
}

section .score-area{
    color: white;
}

/* footer style */
footer{
    border: 2px solid blue;
    background-color: blue;
    color: white;
}

footer p span{
    text-decoration: underline;
}
